<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/css" src="stylesheets/SignIn.css"></script>-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/include.css">
    <script src="controllers/mySellController.js"></script>


</head>
<body ng-app="mySellList" ng-controller="mySellList" ng-init="loadSellItems()">
<% include include.ejs %>


<div class="container">
    <h3>My Sell Details</h3>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home"><b>On Sell</b></a></li>
        <li><a href="#menu1"><b>On Auction</b></a></li>
        <li><a href="#menu2"><b>Sold</b></a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>On Sell Items</h3>
            <div class = "panel panel-default" align="center"  style="width: 600px;">

                <table class="table table-bordered"  >
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Details</th>
                        <th>Price</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "item in sellItems" ng-if='item.isAuction=="No"'>


                        <td>{{item.product_name}}</td>
                        <td>{{item.details}}</td>
                        <td>{{item.price}}$</td>
                        <td>{{item.quantity}}</td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div col-md-4 col-md-offset-3>
                <input type="button" name="sellbutton" ng-click="sellItem()" class="btn btn-primary" value="Sell Item" style="height: 50px;width: 150px"  >

            </div>

        </div>



        <div id="menu1" class="tab-pane fade">
            <h3>On Auction Items</h3>


            <div class = "panel panel-default" align="center" style="width: 600px; ">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Details</th>
                        <th>Price ($)</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "item in sellItems" ng-if='item.isAuction=="Yes"'>


                        <td>{{item.product_name}}</td>
                        <td>{{item.details}}</td>
                        <td>{{item.bid_price || 'No Bid'}}</td>
                        <td>{{item.quantity}}</td>

                    </tr>

                    </tbody>
                </table>

            </div>

        </div>





        <div id="menu2" class="tab-pane fade">
            <h3 ng-if="solditems.length>0">Sold Items</h3>
            <br>
            <div class="alert alert-info col-md-3" ng-if="solditems.length<1"><p align="center">You haven't Sold any Item</p></div>
            <div class = "panel panel-default" align="center" style="width: auto" ng-if="solditems.length>0">


                <table class="table table-bordered" width="150%">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Item Name</th>
                        <th>Details</th>
                        <th>Auction</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Buyer Name</th>
                        <th>Order Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sold in solditems">
                        <td>{{sold.order_id}}</td>
                        <td>{{sold.product_name}}</td>
                        <td>{{sold.details}}</td>
                        <td>{{sold.isAuction}}</td>
                        <td>{{sold.quantity}}</td>
                        <td>{{sold.total}}</td>
                        <td>{{sold.first_name}} {{sold.last_name}}</td>
                        <td>{{sold.order_date}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
</script>


</body>
</html>