<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay Account</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/css" src="stylesheets/SignIn.css"></script>-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/include.css">
    <script src="controllers/productController.js"></script>

</head>

<script>

    window.order = <%=order%>;


</script>


<body ng-app = "product" ng-controller="product" ng-init="loadOrderPage()">
<% include include.ejs %>

    <div id="home" class="tab-pane fade in active" align="center">
        <h3>Order Id is : {{orderdetails[0].order_id}}</h3>
        <div class = "panel panel-default" align="center"  style="width: 600px;">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Details</th>
                    <th>Quantity</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderdetail in orderdetails">


                    <td>{{orderdetail.product_name}}</td>
                    <td>{{orderdetail.details}}</td>
                    <td>{{orderdetail.rq}}</td>
                    <td>{{orderdetail.total}}</td>

                </tr>
                <tr>
                    <td colspan="3" align="center"><b>Order Total</b></td>
                    <td>{{grand}}</td>

                </tr>

                </tbody>
            </table>
        </div>
        <div><a href="/"><button class="btn btn-primary">Continue Shopping</button></a></div>
    </div>
</body>
</html>