<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay Product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Latest compiled and minified CSS -->
   <!-- <script type="text/css" src="stylesheets/SignIn.css"></script>-->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/include.css">
    <link rel="stylesheet" href="../stylesheets/productPage.css">
    <script src="../controllers/productController.js"></script>

</head>

<script>

    window.product_id =<%=product_id%>;

</script>


<body ng-app="product" ng-controller="product" ng-init="productDetails()">
<% include include.ejs %>
<div class="container-fluid-1">

    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
               <div class="row" style="background-color: #f8f8f8">
                    <div class="col-md-4" style="background-color: #f8f8f8">
                        <div class="product col-md-8 service-image-left" style="background-color: white">

                        <center>
                            <img style="margin-top: 50px" id="item-display" src="../images/ebay.png" alt=""></img>
                        </center>
                        </div>


                    </div>


                   <div class="col-md-5" style="background-color: #f8f8f8">
                       <div class="product-title"><b>{{itemDetail[0].product_name}}</b></div>
                       <div class="product-desc">{{itemDetail[0].details}}</div>
                       <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                       <div ng-if="itemDetail[0].isAuction==='Yes'" class="product-price" style="color: darkred;"><b>On Auction</b></div>
                       <hr>
                       <div ng-if="itemDetail[0].isAuction==='No'" class="product-price">Price ${{itemDetail[0].price}}</div>
                       <div ng-if="itemDetail[0].isAuction==='Yes'" class="product-price">Current Bid Price ${{itemDetail[0].bid_price || 'New'}} </div>
                       <div ng-if="itemDetail[0].isAuction==='No'" class="product-stock">In Stock</div>

                       <div id="timer" ng-model="timer" class="product-stock" style="color: darkblue;"></div>

                       <hr>
                       <div ng-if="itemDetail[0].isAuction==='No'">Available Quantity {{itemDetail[0].quantity}}</div>
                       <br>
                       <input type="hidden" ng-model="quantity" >
                       <input type="hidden" ng-model="price">
                       <input type="hidden" ng-model="item">

                       <div ng-if="itemDetail[0].isAuction==='No'" class="form-group">
                           <label class="col-md-2 " for="name">Quantity</label>
                           <div class="col-md-2">
                               <input type="text" class="form-control" id="req_quantity" ng-model="req_quantity" value="1">
                           </div>
                           <div class="col-md-7">
                               <label ng-show="quantity_error" style="color: red">Not Enough Quantity Available</label>
                           </div>

                       </div>

                       <div ng-if="itemDetail[0].isAuction==='Yes'" class="form-group">

                           <div class="col-md-4">
                               <input type="text" class="form-control" id="bid" ng-model="new_bidprice" placeholder="Bid Amount">
                           </div>

                           <div class="btn-group">
                               <a type="button" class="btn btn-primary" ng-click="makeBid()" href>
                                   <b>Place Bid</b>
                               </a>
                           </div>
                       </div>
                       <p style="color:red" ng-show="bid_error">Please provide valid bid amount</p>
                       <p ng-show="bid_done" class="alert alert-success">Your have successfully made a Bid.</p>

                       <div class="form-group">
                            <label></label>
                        </div>
                       <br>
                       <br>
                       <div ng-if="itemDetail[0].isAuction==='No'" class="form-group">
                           <div class="btn-group">
                               <a type="button" class="btn btn-primary" ng-click="addtoShoppingCart()" href>
                                   <b>Add to Cart</b>
                               </a>

                           </div>
                           <span style="color: red" ng-show="already"> <label> Already in Cart</label></span>
                       </div>


                       <div class="form-group" ng-if="itemDetail[0].isAuction==='No'">
                           <div class="btn-group cart">
                               <button type="button" class="btn btn-primary" ng-click="buyItem()">
                                   <b>Buy it Now</b>
                               </button>
                           </div>
                       </div>

                   </div>

                   <div class="col-md-3">

                       <div class="container service-image-left product-seller" style="background-color: white">
                                <div style="margin-left: 10px">
                                <label>Seller Information</label>
                                </div>

                                <div style="margin-left: 10px">
                                    <span style="font-size: 12px;color: blue"><b>{{itemDetail[0].first_name}} {{itemDetail[0].last_name}} <a href="/user/{{itemDetail[0].handle}}" style="color: blue;text-decoration: underline">({{itemDetail[0].handle}})</a></b></span>
                                </div>

                           <div style="margin-left: 10px">
                                <span style="font-size: 12px" >96.3% positive feedback</span>
                           </div>
                       </div>


                   </div>

                </div>

            </div>
        </div>
        <div class="container-fluid-1" style="background-color: #f8f8f8">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>



                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                          {{itemDetail[0].details}}
                        </section>

                    </div>


                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

</body>
</html>