<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay Product</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/css" src="stylesheets/SignIn.css"></script>-->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/include.css">
    <link rel="stylesheet" href="../stylesheets/productPage.css">
    <script src="../controllers/productController.js"></script>

</head>
<body ng-app="product" ng-controller="product" ng-init="productDetails()">
<% include include.ejs %>
<div class="container-fluid-1">

    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
               <div class="row" style="background-color: #f8f8f8">
                    <div class="col-md-4" style="background-color: #f8f8f8">
                        <div class="product col-md-8 service-image-left" style="background-color: white">

                        <center>
                            <img style="margin-top: 50px" id="item-display" src="http://pngimg.com/upload/laptop_PNG5941.png" alt=""></img>
                        </center>
                        </div>


                    </div>


                   <div class="col-md-5" style="background-color: #f8f8f8">
                       <div class="product-title"><b>Corsair GS600 600 Watt PSU</b></div>
                       <div class="product-desc">The Corsair Gaming Series also add the new feature that inclue aps and games into game GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
                       <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                       <hr>
                       <div class="product-price">Price $1234.00</div>
                       <div class="product-stock">In Stock</div>
                       <hr>
                       <div class="form-group">
                           <label class="col-md-2 " for="name">Quantity</label>
                           <div class="col-md-2">
                               <input type="text" class="form-control">
                           </div>
                       </div>
                        <div class="form-group">
                            <label></label>
                        </div>
                       <br>
                       <br>
                       <div class="form-group">
                           <div class="btn-group">
                               <button type="button" class="btn btn-primary">
                                   <b>Add to Cart</b>
                               </button>
                           </div>
                       </div>


                       <div class="form-group">
                           <div class="btn-group cart">
                               <button type="button" class="btn btn-primary">
                                   <b>Buy it Now</b>
                               </button>
                           </div>
                       </div>

                   </div>

                   <div class="col-md-3">

                       <div class="container service-image-left product-seller" style="background-color: white">
                                <div style="margin-left: 10px">
                                <label>Seller Information</label>
                                </div>

                                <div style="margin-left: 10px">
                                    <span style="font-size: 12px;color: blue"><b>Divya Patel</b></span>
                                </div>

                           <div style="margin-left: 10px">
                                <span style="font-size: 12px" >96.3% positive feedback</span>
                           </div>
                       </div>


                   </div>

                </div>

            </div>
        </div>
        <div class="container-fluid-1" style="background-color: #f8f8f8">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>



                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                            The Corsair Gaming Series GS600 power supply is the ideal price-performance solution for building or upgrading a Gaming PC. A single +12V rail provides up to 48A of reliable, continuous power for multi-core gaming PCs with multiple graphics cards. The ultra-quiet, dual ball-bearing fan automatically adjusts its speed according to temperature, so it will never intrude on your music and games. Blue LEDs bathe the transparent fan blades in a cool glow. Not feeling blue? You can turn off the lighting with the press of a button.

                        </section>

                    </div>


                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

</body>
</html>