<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <!-- <script type="text/css" src="stylesheets/SignIn.css"></script>-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/include.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <script src="controllers/productController.js"></script>

    <script>

        $(document).ready(function() {
            $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
            $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
        });

    window.search = '<%=search%>';

    </script>



</head>



<body ng-app="product" ng-controller="product" ng-init="loadsearchItems()">
<% include include.ejs %>

<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div>
        <div ng-show="got"><h4>Search Result for: {{search}}</h4></div>
        <div ng-show="ngot"><h4 style="color:red;">No Item found</h4></div>
    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4" ng-repeat = "item in allItems">
            <div class="thumbnail">
                <a href="/product_details/?id={{item.product_id}}"> <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
                <div class="caption">
                    <b><h4 class="group inner list-group-item-heading">
                            {{item.product_name}}</h4></b>
                    <p class="group inner list-group-item-text">
                        {{item.details}}
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Price: ${{item.price}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6" ng-if="item.isAuction=='Yes'">
                            <span class="glyphicon glyphicon-bullhorn"></span><span class="group inner list-group-item-text">On Auction</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>